/*All styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;    
}

:root{
    --color-p1: hsl(233, 47%, 7%);
    --color-p2: hsl(244, 38%, 16%);
    --color-p3: hsl(277, 64%, 61%);
    --color-n1: hsl(0, 0%, 100%);
    --color-n2: hsla(0, 0%, 100%,);
    --color-n3: hsla(0, 0%, 100%, 0.6);

}

body{
    background-color: var(--color-p1);
}

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

/*************/

#container{
    max-width: 69rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 15.63rem auto;    
}

#container-information{
    background-color: var(--color-p2);
    padding: 2.5rem;
    border-radius: 10px 0 0 10px;
    max-width: 69rem;
}

#container-information h1{
    font-family: 'Inter', sans-serif;
    color: var(--color-n1);
    font-size: 2.5rem;
    margin-bottom: 1.88rem;
}

#container-information h1 span {
    color: var(--color-p3);
}

#container-information p{
    margin-bottom: 5rem;
    font-size: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    /* max-width: 45ch; */
    color: var(--color-n3);
    letter-spacing: .02em;
}

#container-photo{
    background-image: url('./img/image-header-desktop.jpg');    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 27.8rem;
    border-radius: 0 10px 10px 0;
    filter: brightness(60%)    
}


#container-statistics{
    display: flex;
    justify-content: space-between;
    max-width: 25rem;
    
}

.statistics-item{
    display: flex;    
    flex-direction: column;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--color-n1);    
}

.detail{
    color: var(--color-n3);
    font-size: .7rem;    
    margin-top: 0.40rem;
    letter-spacing: .08em;
}

#container-photo div{
    height: 27.8rem;
    background-color: var(--color-p3);
    opacity: .4;
    filter: saturate(10);
    
}


@media (max-width: 700px){ /*PENDENTE RESPONSIVO IPAD*/
    #container-information h1{
        font-size: 2.0rem;
        width: 14ch;
    }

    #container {         
        grid-template-columns: 1fr ;        
    }
   
}

@media (max-width: 400px){
    body{
        overflow-x: hidden;       
    }

    #container { 
        max-width: 25rem;        
        grid-template-columns: 1fr ;
        /* padding: 10px 0px ; */
        margin: 5rem auto;        
    }

    #container-information {
        border-radius: 0px 0px 10px 10px;
        text-align: center;
        max-width: 20.31rem;
    }

    #container-information h1{
        font-size: 2.0rem;
        width: 14ch;        
    }
    
    #container-information p{
        font-size: 1rem;
        margin-bottom: 3.12rem;
        line-height: 1.4rem;
    }
    

    #container-statistics{
        flex-direction: column;
        gap: 2.20rem;
    }

    #container-photo {
        background-image: url('./img/image-header-mobile.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        display: block;
        height: 15rem;
        grid-area: 1;
        border-radius: 10px 10px 0px 0px;
    }

    #container-photo div{
        height: 15rem;
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
    }

}